<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <header>
        <nav>
            <span>Gerência Mercado</span>
            <span id="user-email">Carregando...</span>
            <button id="logout-button">Sair</button>
            <a id="link-cadaster" href="/dashboard/usuarios">Dashboard Usuários</a>
            <a id="link-cadaster" href="/dashboard/produtos">Dashboard Produtos</a>
        </nav>
    </header>

    <hr>

    <main>
        <h1>Perfil do usuário</h1>
        <br> <br> 
        <span>Nome: </span>
        <span id="span-name">Carregando...</span>
        <br>
        <span>Telefone: </span>
        <span id="span-phone">Telefone: Carregando...</span>
        <br>
        <span>Data de nascimento: </span>
        <span id="span-birthDate">Carregando...</span>
    </main>
</body>

<script type="module" src="./../scripts/profile.js"></script>
</html>